1. Determine el mayor de dos números

In [ ]:
def npc(a,b):
  if a>b:
    return a
  return b

In [ ]:
print(npc(4,8))

8

2. Determine el mayor de tres números (empleando la función anterior).

In [13]:
def npc(a,b,c):
  if a>b and a>c:
    print(f" {a} es el mayor")
  elif b>c and b>a:
    print(f" {b} es el mayor")
  else:
    print(c, "es el mayor")

In [14]:
print(npc(10,5,8))

 10 es el mayor
None

3. Sumar los números de una lista de 3 elementos. Ejemplo [3,4,5]. Salida: 12

In [15]:
def op():
    x=0
    lista=[5,4,3]
    for n in lista:
        x=x+n
    return print(x)
op()

12

4. Sumar los números de una lista de 4 elementos. Ejemplo [3,4,5,6]. Salida: 18

In [16]:
def op():
    x=0
    lista=[5,4,3,6]
    for n in lista:
        x=x+n
    return print(x)
op()

18

5. Sumar todos los números de una lista. Ejemplo: (8,5,3,1). Salida: 17

In [17]:
def op():
    x=0
    lista=[5,4,3,2,5,4,3]
    for n in lista:
        x=x+n
    return print(x)
op()

26

6. Multiplicar los números de una lista de 3 elementos. Ejemplo [0,4,5]. Salida: 0

In [18]:
def op():
    x=1
    lista=[5,4,3]
    for n in lista:
        x=n*x
    return print(x)
op()

60

7. Multiplicar los números de una lista de 4 elementos. Ejemplo [3,4,5,1]. Salida: 60

In [19]:
def op():
    x=1
    lista=[5,4,3,50]
    for n in lista:
        x=n*x
    return print(x)
op()

3000

8. Multiplicar todos los números de una lista. Ejemplo: (1,2,3,-1). Salida: -6

In [20]:
def op():
    x=1
    lista=[5,4,3,50,100,-1]
    for n in lista:
        x=n*x
    return print(x)
op()

-300000

9. Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [21]:
def invertir_cadena_manual(cadena): 
    cadena_invertida = "" 
    for letra in cadena: 
        cadena_invertida = letra + cadena_invertida 
    return cadena_invertida 
 
 
print(invertir_cadena_manual("Voy a pasar Cálculo"))

olucláC rasap a yoV

10. Calcular el factorial de un número

In [22]:
def factorial(u): 
    if u <= 0: 
        return 1 
    factorial = 1 
    while u > 0: 
        factorial = factorial * u
        u -= 1 
    return factorial 
v = 8
f = factorial(v) 
print(f"El factorial de {v} es {f}")

El factorial de 8 es 40320

11. Si un número está dentro de un rango

In [ ]:
def npc(a,b):
  if a>b:
    r=a-b
    print(f" {r} es el rango")
  else:
    r=b-a
    print(r, "es el rango")

In [ ]:
print(npc(3,10))

12. Capture el número de mayúsculas y minúsculas en una oración

13. El ejercicio anterior, pero almacene los resultados en un diccionario.

14. Reciba una lista y retorne sólo los elementos pares

In [ ]:
def op():
    x=1
    lista=[5,4,3,50]
    for n in lista:
        if n == n:
          
    return print(x)
op()

15. Reciba una lista y retorne sólo los elementos de posición impar

16. Recibir un número y decir si es perfecto o no. Ejemplo: 6 es perfecto, porque la suma de sus
divisores es 6 (1+2+3)

In [24]:
ent=int(input())

def perfect():

  for i in range(2, ent):
     b=0
     for j in range(1, (i//2)+1):
         if((i%j)==0):
             b= b+j;
     if(b==i):
         print("perfecto")
  else:
     print("no perfecto")

7

17. Chequear si una palabra es palíndromo o no. Ejemplo: “Ana” es un palíndromo

In [25]:

user1=str(input("Ingrese una palabra: "))
user1=user1.lower()
val1=list(user1)
val2=val1
val2.reverse()
def prueba ():
    val1=list(user1)
    for i in range(0,len(val1)):
        counter=0
        for j in range(0,len(val1)):
            if val1[i] == val2[i]:
                counter+=1
            else:
                counter=counter
    if counter==len(val1):
        print("La palabra es un palíndromo")
    else:
        print("La palabra no es un palíndromo")
            
        return;
prueba();

Ingrese una palabra: hola
La palabra no es un palíndromo

18. Imprimir la fila n del triángulo de pascal

19. Imprimir una frase tipo oración. Ejemplo: Ingresa: esta es una oración e imprime Esta es una
oración.

20. Acepte palabras separadas por – y las ordene alfabéticamente.
Ejemplo: ingresa verde-rojo-amarillo-blanco-negro
Regresa: amarillo-blanco-negro-rojo-verde